/******** About ********/
.bylaws-specification-container {
    display:         flex;
    justify-content: space-between;
    padding-left:    20vw;
    padding-right:   20vw;
}

@media screen and (max-width: 1000px) { 
    .bylaws-specification-container {
        padding-left:  0;
        padding-right: 0;
    }
}

/******** Impressions ********/
#impressionen .sideway-scrollable-container .full {
    height: 30vh;
    object-fit: cover;
}

/******** Regulations ********/
.regulations-container {
    display: flex;
    justify-content: center;
}

/******** Rankings ********/
.rankings-container > * {
    display: block;
    margin-bottom: 1rem;
}
